<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/PrinterTest" version="1.0.0" viewmodes="maximized">
    <tizen:application id="7hgnT0fgBw.PrinterTest" package="7hgnT0fgBw" required_version="4.0"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <icon src="icon.png"/>
    <name>PrinterTest</name>
    <tizen:privilege name="http://developer.samsung.com/privilege/b2bcontrol"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/serialport"/>
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="portrait" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
